.div-admin {
    margin-top: 3.5rem !important;
}

@media (min-width:1200px) {
    .div-admin {
        margin-top: 10rem !important;
    }
}

@media (min-width: 768px) {
    .div-admin {
        margin-top: 15.5rem !important;
    }
}

@media (min-width: 576px) {
    .div-admin {
        margin-top: 5.5rem !important;
    }
}